.hero{
    min-height: 70vh;
    background-color: #fff7f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button{
    padding: 12px 24px;
    background-color: #ff6b00;
    cursor: pointer;
    border-radius: 5px;
}